@* Derived from faq.html *@

<!-- Main -->
<section id="main">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<a href="#" class="image featured"><img src="~/images/FAQ.jpg" alt="" /></a>
			<header>
				<h2>Frequently Asked Questions</h2>
			</header>
			<h6>How do I start a NICDC Team?</h6>
			<p>
				To compete in NICCDC events you will need a team of full-time students and a coach – a faculty
				or staff member from the college or university you represent. Some schools sponsor their CCDC
				teams as part of computer security clubs, student ISSA chapters, or other student organizations.
			</p>
			<h6>I have a team that wants to compete, where do I sign up?</h6>
			<p>Depending on the time of year, there will be different NICCDC event offerings. Check back often
				to see what events we are currently hosting. If we are currently accepting registration for an
				event, details will be listed on the <a asp-controller="Participants" asp-action="Register">registration page
				</a>.</p>
			<h6>What can I do to prepare to compete in the NICCDC?</h6>
			<p>
				The cybersecurity concepts that you should know will depend on the specific event. Typically,
				documentation will be provided after you have registered to compete with information
				on specific things that you can do to prepare for respective NICCDC events. However, there are
				other things that you can do to lead to success in the NICCDC. For example, keeping up with the
				last information assurance and cybersecurity news or preparing for a industry related
				certification such as the CompTIA Security+ can help participants prepare. Be familiar with
				basic
				tools such as Nmap and Wireshark are helpful. The National Collegiate Cyber Defense Competition
				has produced a guide to help their participants prepare, many of the elements in guide can be
				applied to prepare for the NICCDC. The guide can be viewed<a
					href="https://nccdc.org/files/CCDCteamprepguide.pdf">here</a>.
			</p>
			<h6>How are NICCDC events scored?</h6>
			<p>Teams can earn points at CCDC events in three major categories: service points, primary business
				function points, and inject points.
				Service points are awarded for operating and maintaining identified critical services such as an
				e-commerce site or DNS server. Primary business function points are awarded for operating and
				maintaining critical business functions, these are typical associated with an industrial control
				machine. Inject points are awarded for completion of business tasks
				delivered throughout the competition. Teams can lose points for violating Service
				Level Agreements on critical services and for allowing the Red Team to penetrate their networks.
			<h6>We have to change our team roster after we've registered, what do we do?</h6>
			<p>In most cases, a team roster cannot be altered once a NICCDC event has begun. If you must make a
				change, contact the Cyber Range Director for your NICCDC event immediately. Unauthorized changes
				or substitutions could lead to team disqualification.</p>
			<h6>How much does it cost to compete in the NICCDC?</h6>
			<p>Different NICCDC events have different registration costs. These costs are dependent on the
				infrastructure needs and operating costs of the NICCDC. The cost will be listed on the
				registration page or listed in your registration documentation.</p>
			<h6>I want to be involved, but I don't have a team. What do I do?</h6>
			<p>We constantly need help to keep all aspects of the NICCDC running. We are always looking for
				volunteers to help out in many different ways. Volunteering for the NICCDC is a great way to get
				experience and boost your resume. Check out our <a asp-controller="NICCDC" asp-action="Volunteers">volunteers'
					page</a>
				for different opportunitites.</p>
		</article>

	</div>
</section>