@* Derived from registration.html *@

<!-- Main -->
<section id="main">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<a href="#" class="image featured"><img src="~/images/NICCDC_Participants.jpg" alt="" /></a>
			<header>
				<h2>Registration for the Fall 2022 NICCDC is Now Open!</h2>
				<p>Registration will close promptly at 11:59 PM on October 31st 2022</p>
			</header>
			<footer>
				<center><a
						href="https://docs.google.com/forms/d/e/1FAIpQLSc-oc6HewOjuhK6fT-VYOOnjVDZPHNOSFuF3ms4dw7Rm3QCMw/viewform?usp=sf_link"
						class="button alt">Register by Clicking Here Now!</a></center>
			</footer>
			<section>
				<header>
					<h3>A New Horizon for the NICCDC</h3>
				</header>
				<p>
					We are excited to present to you the next iteration of the NICCDC. This year will feature a
					brand-new flavor and theme while still providing cutting edge industry knowledge and
					exposure. With generous support from our sponsors and partners, we have rebuilt our cyber
					range infrastructure from the ground up. We have learned from the past several years as we
					have shifted to a remote format and continue to improve. We have renewed our dedication to
					providing the most robust and quality competition to prepare students to enter the
					workforce and be familiar with cybersecurity topics.
				</p>
				<p>
					We are grateful to continue to provide opportunities for the next generation to sharpen
					their cyber skillset. For any questions or concerns regarding this competition, please
					contact the Cyber Range Director by email niccdc@niatec.isu.edu or by phone at (208) 282-3563.
				</p>
			</section>
		</article>

	</div>
</section>