<link rel="stylesheet" href="~/css/WebStyles.css" />
<h2 class="text-center">Application Process</h2>
<p class="text-center"><strong>NATIONAL SCIENCE FOUNDATION (NSF) FEDERAL CYBER SERVICE:</strong></p>
<p><strong>SCHOLARSHIP FOR SERVICE APPLICATION FORM</strong></p>
<p><strong>Idaho State University</strong></p>
<p>This document contains the application form for the NSF Federal Cyber Service: Scholarship for Service program (<a href="https://www.sfs.opm.gov/">https://www.sfs.opm.gov</a>) for students at Idaho State University.</p>
<h3>Eligibility requirements:</h3>
<ul>
<li>3.3&nbsp;or greater GPA for undergraduate students.</li>
<li>3.5 or greater GPA for graduate level students.</li>
<li>United States citizenship &ndash; Not dual National.</li>
<li>Full-time student or applicant within two years of graduation in an undergraduate or graduate program.</li>
</ul>
<p>&nbsp;</p>
<h3>Scholarship recipients shall:</h3>
<ul>
<li>pursue an academic program in Information Assurance or computer security at their home institution or through consortium registration at one of the partner institutions.</li>
<li>participate in two years of study and related activities in Information Assurance or computer security.</li>
<li>maintain a&nbsp;3.5 or higher GPA.</li>
<li>receive full tuition support as well as payment of related expenses such as textbooks and fees.</li>
<li>participate actively in an&nbsp;internship/practicum within the National Information Assurance Training and Education Center (NIATEC) to gain experience in Information Assurance.</li>
<li>receive an annual stipend of $32,000 for graduate students.</li>
<li>seek and participate in a paid summer Information Assurance internship&nbsp;with a federal agency at the end of their first year of support.</li>
<li>upon graduation be required to work for a federal agency for two years in fulfillment of their Federal Cyber Service commitment.</li>
</ul>
<p>&nbsp;</p>
<h3>Application requirements:</h3>
<ul> 
<li>Application form - <strong>@Html.ActionLink("Download", "DownloadFile", new {file = "ISU SFS Application Form.docx"})</strong></li>
<li>Personal statement (see instructions on page 2)</li>
<li>Two letters of recommendation - <strong>@Html.ActionLink("Download", "DownloadFile", new {file = "SFS Recommendation form.pdf"})</strong></li>
<li>Transcripts from home institution and any previous institutions attended (may be unofficial)</li>
<li>Resume</li>
<li>Transcripts and recommendations should be sent to:
<ul>
<li>Scholarship for Service Program (C/O Kay Flowers)</li>
<li>Idaho State University</li>
<li>921 South 8th Avenue</li>
<li>Campus Stop&nbsp;8332</li>
<li>83209</li>
<li>Fax: (208) 282-6054</li>
</ul>
</li>
<li>All other application materials should be sent electronically</li>
</ul>
<div>
<h3>Contacts:</h3>
</div>
<p><strong>Idaho State University:</strong>&nbsp;Kay Flowers, flowkay@niatec.isu.edu (208) 282-6054</p>
<p>For those wishing to apply, all application documents should be received by May&nbsp;31 for acceptance to the following&nbsp;fall semester.</p>

<div class="nav-button-padding col-12 d-flex justify-content-end">
    <div class="next-button">
        <a href="../NICCDC/index.html" class="betterbtn">Back to Main Site &gt;&gt;&gt;</a>
    </div>
</div>

@*This will hide the cookie notification as it is not applicable on this page*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
$(document).ready(function() {
    document.querySelector("#cookieConsent").remove();
});
</script>