<link rel="stylesheet" href="~/css/WebStyles.css" />
<div class="container-fluid text-center">
    <h1 style="margin-bottom: 30px">Thank You for Submitting Your Application!</h1>
    <h4>The final thing that we need you to do is to print off the recommendation document below and have a few people fill out the forms.</h4>
    <h5>@Html.ActionLink("Download", "DownloadFile", new {file = "SFS Recommendation form.pdf"})</h5>
    <h4>Thanks again and you will be hearing from us shortly.</h4>
</div>

<div class="nav-button-padding col-12 d-flex justify-content-end">
    <div class="next-button">
        <a href="../NICCDC/index.html" class="betterbtn">Back to Main Site &gt;&gt;&gt;</a>
    </div>
</div>