@model ProjectSaturn.Models.Awards

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="AwardsDetails">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="col-12 col-lg-8 form-group d-flex flex-wrap">
        <div class="awards_fields_wrap">
            @*Will be filled by add_field_button below*@
        </div>
        <div class="fields_button">
            <button class="add_field_button betterbtn betterbtndefault" value=".award_fields_wrap" data-type="Awards">Add More Fields</button>
        </div>
    </div>
    
    <div class="col-12 form-padding d-flex">
        <div class="col-1 ms-auto d-flex justify-content-end">
            <button type="submit" value="AwardsDetails" class="betterbtn form_submit">Submit</button>
        </div>
    </div>
</form>

<div class="back-button">
    <a asp-controller="Creator" asp-action="KnowledgeDetails" class="betterbtn">&lt;&lt;&lt; Knowledge</a>
</div>

@*TODO: Change to a static thank you page with extra details etc.*@
<div class="next-button">
    <a href="../NICCDC/index.html" class="betterbtn">Back to Main Site &gt;&gt;&gt;</a>
</div>
