@model ProjectSaturn.Models.Awards

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="AwardsDetails">
    <h5>TODO</h5>
</form>

<div class="back-button">
    <a asp-controller="Creator" asp-action="KnowledgeDetails" class="betterbtn">&lt;&lt;&lt; Knowledge</a>
</div>

<div class="next-button">
    <a href="../NICCDC/index.html" class="betterbtn">Back to Main Site &gt;&gt;&gt;</a>
</div>