@model ProjectSaturn.Models.Knowledge
<form asp-action="KnowledgeDetails">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h5>TODO</h5>
</form>

<div class="back-button">
    <a asp-controller="Creator" asp-action="ProfessionalDetails" class="betterbtn">&lt;&lt;&lt; Professional</a>
</div>

<div class="next-button">
    <a asp-controller="Creator" asp-action="AwardsDetails" class="betterbtn">Awards &gt;&gt;&gt;</a>
</div>