@* TODO: Find a more efficient way to hold the lists uniquely*@
<a href="/" class="d-flex align-items-start link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Navigation</span>
</a>
<ul class="list-unstyled ps-0">
    <li class="mb-1">
    <a asp-controller="Creator" asp-action="PersonalDetails" class="btn btn-toggle align-items-center rounded">Personal</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Creator" asp-action="EducationDetails" class="btn btn-toggle align-itmes-center rounded">Education</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Creator" asp-action="TrainingDetails" class="btn btn-toggle align-items-center rounded">Trainings</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Creator" asp-action="ProfessionalDetails" class="btn btn-toggle align-items-center rounded">Professional</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Creator" asp-action="KnowledgeDetails" class="btn btn-toggle align-items-center rounded">Knowledge</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Creator" asp-action="AwardsDetails" class="btn btn-toggle align-items-center rounded">Awards</a>
    </li>
</ul>