@model ProjectSaturn.Models.Personal

@*The main personal data form that will be autofilled if userdata exsists*@
<form asp-action="PersonalDetails" class="d-flex justify-content-around flex-wrap">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-12 col-lg-8 form-group d-flex flex-wrap">

        <div class="form-padding col-12 col-md-6">
            <label asp-for="FirstName">First Name:</label>
            <input name="FirstName" asp-for="FirstName" class="form-control" placeholder="John" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-padding col-12 col-md-6">
            <label asp-for="LastName">Last Name:</label>
            <input name="LastName" asp-for="LastName" class="form-control" placeholder="Doe" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-padding col-12 col-md-6">
            <label asp-for="PhoneNumber">Phone Number:</label>
            <input name="PhoneNumber" asp-for="PhoneNumber" class="form-control" placeholder="xxx-xxx-xxxx" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-padding col-12 col-md-6">
            <label asp-for="Email">Email:</label>
            <input name="Email" asp-for="Email" class="form-control" placeholder="johndoe&#64;xyzsite.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-padding col-12">
            <label asp-for="Address">Address:</label>
            <textarea name="Address" asp-for="Address" class="form-control form-text-area" placeholder="Street, City, State, Area Code"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-padding col-12">
            <label asp-for="Goal">Goal:</label>
            <textarea name="Goal" asp-for="Goal" class="form-control form-text-area" placeholder="My goal is to. . ."></textarea>
            <span asp-validation-for="Goal" class="text-danger"></span>
        </div>

        <div class="col-12 form-padding d-flex">
            <div class="col-1 ms-auto d-flex justify-content-end">
                <button type="submit" value="PersonalDetails" class="betterbtn form_submit">Submit</button>
            </div>
        </div>
    </div>
</form>

<div class="next-button">
    <a asp-controller="Creator" asp-action="EducationDetails" class="betterbtn">Education &gt;&gt;&gt;</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/InputTextArea.js"></script>
