@model ProjectSaturn.Models.Professional;

@*This is the main creation form to add more profession objects*@
<form asp-action="ProfessionalDetails" class="d-flex justify-content-around flex-wrap">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-12 col-lg-8 form-group d-flex flex-wrap">

        <div class="form-padding col-12 col-md-4">
            <label asp-for="Name">Name of Business</label>
            <input name="Name" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-padding col-12 col-md-4">
            <label asp-for="PositionAtComp">Title or Position</label>
            <input name="PositionAtComp" asp-for="PositionAtComp" class="form-control" />
            <span asp-validation-for="PositionAtComp" class="text-danger"></span>
        </div>

        <div class="form-padding col-12 col-md-4">
            <label asp-for="Location">Company Location</label>
            <input name="Location" asp-for="Location" class="form-control" placeholder="City, State"/>
            <span asp-validation-for=Location class="text-danger"></span>
        </div>

        <div class="form-padding col-12 col-md-6">
            <label asp-for="StartDate">Starting Date</label>
            <input name="StartDate" asp-for="StartDate" type="month" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="form-padding col-12 col-md-6">
            <label asp-for="EndDate">End Date</label>
            <input name="EndDate" asp-for="EndDate" type="month" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <div class="form-padding col-12 col-md-12">
            <label asp-for="SkillsGained">What Skills Were Learned In This Position</label>
            <div class="prof_fields_wrap">
                @*Will be filled by add_field_button below*@
            </div>
            @*TODO: Make the edu_fields_button disappear when max fields is met*@
            <div class="prof_fields_button">
                <button class="add_field_button betterbtn betterbtndefault" value=".prof_fields_wrap">Add More Fields</button>
            </div>
            <span asp-validation-for="SkillsGained" class="text-danger"></span>
        </div>

        @*TODO: add delete button for exsisting forms*@
        <div class="col-12 form-padding d-flex">
            <div class="col-1 ms-auto d-flex justify-content-end">
                <button type="submit" value="PersonalDetails" class="betterbtn form_submit">Submit</button>
            </div>
        </div>
    </div>
</form>

<div class="back-button">
    <a asp-controller="Creator" asp-action="TrainingDetails" class="betterbtn">&lt;&lt;&lt; Trainings</a>
</div>

<div class="next-button">
    <a asp-controller="Creator" asp-action="KnowledgeDetails" class="betterbtn">Knowledge &gt;&gt;&gt;</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/DynamicTextAreaFields.js"></script>
<script src="~/js/InputTextArea.js"></script>