@model ProjectSaturn.Models.Certifications;

@*This contains all of the training forms*@
<form asp-action="TrainingDetails" class="d-flex justify-content-around flex-wrap">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-12 col-lg-8 form-group d-flex flex-wrap">

        <div class="form-padding col-12">
            <div class="form-padding training_fields_wrap d-flex flex-wrap justify-content-between">
                @*Will be filled by add_field_button below*@
            </div>
            <div class="fields_button">
                <button class="add_field_button betterbtn betterbtndefault" value=".training_fields_wrap" data-type="Trainings">Add More Fields</button>
            </div>
        </div>

        <div class="col-12 form-padding d-flex">
            <div class="col-1 ms-auto d-flex justify-content-end">
                <button type="submit" value="TrainingDetails" class="betterbtn form_submit">Submit</button>
            </div>
        </div>

    </div>
</form>

<div class="nav-button-padding col-12 d-flex justify-content-between">
    <div class="back-button">
        <a asp-controller="Creator" asp-action="ProfessionalDetails" class="betterbtn">&lt;&lt;&lt; Professional</a>
    </div>

    <div class="next-button">
        <a asp-controller="Creator" asp-action="KnowledgeDetails" class="betterbtn">Knowledge &gt;&gt;&gt;</a>
    </div>
</div>  

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/DynamicTextAreaFields.js"></script>
<script src="~/js/InputTextArea.js"></script>
