<!-- Main -->
<section id="main">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<a href="#" class="image featured"><img src="~/images/NICCDC_Themes.jpg" alt="" /></a>
			<header>
				<h2>NICCDC Media</h2>
				<p>Past and Present</p>
			</header>
			<p>
				The NICCDC has historically been host to an abundance of creativity. Since its inception, NIATEC
				staff and NICCDC engineers have designed the scenarios with participants' enjoyment in mind.
				Often borrowing from pop culture, internal story arcs are robust and give weight to consequences
				that participants can feel and require active engagement. In the future, we will host past
				broadcasts, flyers and NICCDC themes. Check back often for articles and updates.
			</p>
		</article>

	</div>
</section>