<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-8 col-12-medium">

				<!-- Content -->
				<article class="box post">
					<a href="#" class="image featured"><img src="~/images/niatec_thefutureofcyber.jpg"
							alt="" /></a>
					<header>
						<h2>The National Information Assurance Training and Education Center</h2>
						<p>Home to the Best Scholarship for Service Program in the Nation</p>
					</header>
					<p>
						NIATEC is a consortium of academic, industry, and government organizations to help
						improve the literacy, awareness, training, and education standards in Information
						Assurance.
					</p>
					<p>
						As the federally designated cornerstone for essential education and training components
						of a strong Information Assurance initiative, the mission is to establish an effective
						Information Assurance infrastructure for academic, industry, and government
						organizations.
					</p>
					<p>
						NIATEC is associated with the Idaho State University Center of Academic Excellence. The
						Centers of Academic Excellence and NIATEC are components of a plan to establish a
						federal cyber-corps to defend against cyber-based disruption and attacks. The key to
						building such a cyber-corps is the implementation of robust graduate and undergraduate
						curricula in Information Assurance.
					</p>
					<P>
						Idaho State University was designated as a National Center of Academic Excellence in
						Information Assurance Education by the National Security Agency. It has been recognized
						for a significant contribution in meeting the national demand in Information Assurance
						education. It serves to develop professionals with information assurance expertise in
						various disciplines and ultimately contributes to the protection of the national
						information infrastructure.
					</p>
					<p>
						The NIATEC has been active in helping develop the training standards associated with
						both the National Institute of Standards Publication 800-16 and the National Security
						Telecommunications and Information Systems Security Committee (NSTISSC) [redesignated
						Committee on National Security Systems(CNSS)] 4011, 4012, 4013, 4014, 4015, and 4016
						documents.
					</p>
					<p>
						Idaho State University is a founding and sponsoring member of the Colloquium for
						Information Systems Security Education. We subscribe to and support the (ISC)2 code of
						ethics. The Information Security Library is maintained by The Center for Decision
						Support at Idaho State University. The words and definitions contained in the glossary
						are taken from numerous sources.
					</p>
				</article>

			</div>
			<div class="col-4 col-12-medium">

				<!-- Sidebar -->
				<section class="box">
					<a asp-controller="NICCDC" asp-action="NICCDC" class="image featured"><img src="~/images/codejam.jpg" alt="" /></a>
					<header>
						<h3>Cyber Defense Competitions</h3>
					</header>
					<p>The NICCDC is designed to stimulate mission oriented decision making through unique and
						immersive scenarios that score decision making over technical abilities alone</p>
					<footer>
						<a asp-controller="NICCDC" asp-action="NICCDC" class="button alt">Find Out More</a>
					</footer>
				</section>
				<section class="box">
					<header>
						<h3>Sponsor or Volunteer to Support the NICCDC</h3>
					</header>
					<p>NICCDC sponsors keep the lights on and the network traffic flowing and we are always in
						need of volunteers. Help out today!</p>
					<ul class="divided">
						<li><a asp-controller="NICCDC" asp-action="Volunteer">Volunteer Opportunities</a></li>
						<li><a asp-controller="NICCDC" asp-action="Sponsors">Sponsorship Opportunities</a></li>
						<li><a asp-controller="Sponsor" asp-action="Previous">Past Sponsorship</a></li>
					</ul>
					<footer>
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSeNenGjpyMLOOly5pUZxQfRMzbIp-e3ZV2JNXRvkmhbXEA3rg/viewform?usp=sf_link"
							class="button alt">Sign Up to Volunteer Here!</a>
					</footer>
				</section>

			</div>
		</div>
	</div>
</section>