<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-4 col-12-medium">

				<!-- Sidebar -->
				<section class="box">
					<a href="#" class="image featured"><img src="~/images/Steven-Hernandez.jpg" alt="" /></a>
					<header>
						<h3>NIATEC Alumni Spotlight</h3>
					</header>
					<p>NIATEC graduates become Chief Information Security Officers in major government agencies.
						Steven Hernandez was named the new chief information security officer (CISO) for the
						U.S. Department of Education.</p>
					<footer>
						<a href="https://www.isu.edu/news/2017-fall/isu-college-of-business-mba-niatec-graduates-become-chief-information-security-officers-in-major-government-programs.html"
							class="button alt">Read More</a>
					</footer>
				</section>
				<section class="box">
					<header>
						<h3>NICCDC</h3>
					</header>
					<p>The NICCDC is the premiere Cyber Defense Collegiate Competition for Mountain West Region
						with the goal of exposing college students important security concepts in a realistic
						environment. Check back often for
						updates on NICCDC news.</p>
					<ul class="divided">
						<li><a asp-controller="Competition" asp-action="Mission">NICCDC Mission</a></li>
						<li><a asp-controller="Competition" asp-action="Standings">Standings</a></li>
						<li><a asp-controller="Competition" asp-action="Winners">Past Winners</a></li>
					</ul>
					<footer>
						<a asp-controller="NICCDC" asp-action="NICCDC" class="button alt">NICCDC INFO Page</a>
					</footer>
				</section>

			</div>
			<div class="col-8 col-12-medium imp-medium">

				<!-- Content -->
				<article class="box post">
					<a href="#" class="image featured"><img src="~/images/codejam.jpg" alt="" /></a>
					<header>
						<h2>Compete in the NICCDC</h2>
						<p>An Alternative Approach to Cyber Defense Competitions</p>
					</header>
					<p>
						Welcome to the NIATEC Invitational Collegiate Cyber Defense Competition (NICCDC), the
						Mountain West’s premiere collegiate cyber defense competition for over 15 years and
						running. This competition is designed to expose participants to important information
						assurance and cybersecurity topics.
					</p>
					<p>
						Our scenarios specifically focus on helping students gain an understanding of the
						operational aspect of managing and protecting an existing commercial network
						infrastructure. However, unlike traditional cyber defense competitions, the NICCDC is
						designed to stimulate mission-oriented decision making through engaging scenarios that
						score decision making over technical abilities.
					</p>
					<p>
						In addition to sharpening technical skills and applying what participants have
						learned in their coursework, they will also get a chance to network with industry
						professionals. Depending on the specific NICCDC event, there will typically be a
						recruiting mixer designed to link participants with potential employers and
						internships. There are often prizes supplied by our sponsors awarded to those who
						place well.
					</p>
					<p>
						Want to participate? Head over to our <a asp-controller="Participants" asp-action="Register">registration page</a>.
					</p>
				</article>

			</div>
		</div>
	</div>
</section>