<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-4 col-12-medium">

				<!-- Sidebar -->
				<section class="box">
					<a href="#" class="image featured"><img src="~/images/NICCDC_Volunteers.jpg" alt="" /></a>
					<header>
						<h3>Get Involved</h3>
					</header>
					<p>Want to be involved in more than one NICCDC event? Want to give back to the next
						generation? Contact us today about becoming a
						NIATEC Invitational Collegiate Cyber Defense Competition Sponsor!</p>
					<ul class="divided">
						<li><a href="mailto: NICCDC@NIATEC.ISU.EDU" class="button alt">Email Us Today!</a></li>
					</ul>
				</section>
				<section class="box">
					<header>
						<h3>Forever Grateful</h3>
					</header>
					<p>We would like to recognize our sponsors from previous years. Without them and their
						generous support, the NICCDC
						would not be where it is today. Much of our equipment and infrastructure comes from
						donations made by our partners who believe in preparing the next generation of
						cybersecurity
						professionals. </p>
					<ul class="divided">
						<li><a asp-controller="Sponsor" asp-action="Previous" class="button alt">Past Sponsors</a></li>
					</ul>
				</section>

			</div>

			<div class="col-8 col-12-medium imp-medium">

				<!-- Content -->
				<article class="box post">
					<a href="#" class="image featured"><img src="~/images/networking2.jpg" alt="" /></a>
					<header>
						<h2>NICCDC Sponsors</h2>
					</header>
					<p>NICCDC sponsors keep the lights on and the network traffic flowing. Our sponsors and
						supporters play a large role in our competition events. Students who participate in
						the NICCDC are the top in the region, having been invited or having applied to
						participate meeting qualification standards. The NICCDC typically hosts a
						recruiting mixer designed to link participants with potential employers and
						internships. Our sponsors are invited and encouraged to participate in this unique
						opportunity to meet and recruit participants.</p>
					<p> While similar to other cyber defense competitions in many aspects, the NICCDC is unique
						because it focuses on the operational aspect of managing and protecting an existing
						network infrastructure while simulating mission-oriented decision making. Other
						exercises examine the abilities of a group of students to design, configure, and protect
						a network over the course of an entire semester; however, this competition is focused on
						the more operational task of assuming administrative and protective duties for an
						existing “commercial” network. This uniquely prepares students as they eventually
						transition to the workforce.</p>
					<header>
						<H3>Interested in Becoming a Sponsor?</H3>
					</header>
					<p>As the deficit of talent within cyber defense continues to expand, so does the interest
						and awareness of NCCDC in commercial and government entities. We are actively seeking
						sponsorship partners to help support NCCDC. We accept sponsorship in the form of money,
						time, hardware, software, and a variety of in-kind donations. As a sponsor NCCDC enables
						companies such as yourself to showcase what makes you stand-out among other potential
						employers. </p>
					<p>If you or you organization are interested in becoming a sponsor, send us email to inquire
						about our different sponsorship levels and other volunteer opportunities by emailing us
						below.</p>
					<center>
						<ul class="divided">
							<li><a href="mailto:NICCDC@niatec.isu.edu" class="button alt">Email Us About
									Becoming a Sponsor Today!</a></li>
						</ul>
					</center>
				</article>
			</div>
		</div>
	</div>
</section>
