<!-- Main -->
<section id="main">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<a href="#" class="image featured"><img src="~/images/NICCDC_Volunteers.jpg" alt="" /></a>
			<header>
				<h2>Volunteer Opportunities</h2>
				<p>Support the Best Cyber Defense Competition in the Mountain West</p>
			</header>
			<p>
				We constantly need help to keep all aspects of the NICCDC running. We are always looking for
				volunteers to help out in many different ways. Volunteering for the NICCDC is a great way to get
				experience and boost your resume. This is an excellent opportunity to meet and help train our
				next generation of cyber defenders. Volunteers can serve for a single day, multiple days, or for
				the entire competition. Special opportunities are available to students who are looking for
				semester long internships. To ease scheduling and the familiarization process we ask volunteers
				to cover a 3-hour block of time when possible during a NICCDC event.
			</p>
			<p>
				Unlike traditional "hack and defend" or "capture the flag" contests, this competition tests each
				team's ability to operate, secure, manage, and maintain a corporate network while making
				mission-oriented decisions. This competition seeks to emulate a realistic, while enjoyable,
				corporate administration and security experience - giving the competitors a chance to compare their
				education and training against their peers and the real-world challenges that await them.
			</p>
			<section>
				<header>
					<h3>We Need Your Help</h3>
				</header>
				<p>
					A small cadre of dedicated volunteers helps keep the NICCDC running smoothly. We always need
					volunteers. We need volunteers to help with administrative tasks, our infrastructure,
					volunteer judges to evaluate participants, and even volunteers to function as members of our
					red team. If you would like to volunteer, please click the link below and fill out our
					survey.
					For any questions or concerns regarding this competition, please contact the Cyber Range
					Director by email niccdc@niatec.isu.edu or by phone at (208) 282-3563.
				</p>
				<footer>
					<center><a
							href="https://docs.google.com/forms/d/e/1FAIpQLSeNenGjpyMLOOly5pUZxQfRMzbIp-e3ZV2JNXRvkmhbXEA3rg/viewform?usp=sf_link"
							class="button alt">Register to Volunteer by Clicking Here Now!</a></center>
				</footer>
			</section>
		</article>

	</div>
</section>