<!-- Derived from mission.html -->

<!-- Main -->
<section id="main">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<a href="#" class="image featured"><img src="~/images/niatec_NICCDC2021.jpg" alt="" /></a>
			<header>
				<h2>NICCDC Mission</h2>
				<p>The mission of the NIATEC Invitational Collegiate Cyber Defense Competition (NICCDC) is to
					provide institutions with an information assurance or cybersecurity curriculum in a
					controlled, competitive environment to not only expose students to important security
					domains but to assess their depth of understanding and operational competency in managing
					the challenges inherent in protecting a corporate network infrastructure and business
					information systems. What sets the NICCDC apart from other CCDC events, is the opportunity
					for participants to apply real world theories and concepts in a challenging and lifelike
					business environment.</p>
				<p>NICCDC Events are designed to:</p>
				<ul>
					<li>Expose higher education students to meaningful learning opportunities through
						challenging
						but enjoyable realistic scenarios</li>
					<li>Promote mission-oriented decision making through scenarios that score decision making
						over
						technical abilities</li>
					<li>Provide opportunities for participants to apply the theory and practical skills they
						have
						learned in their course work</li>
					<li>Encourage the development of teamwork, ethical behavior, and effective communication
						both
						within and across teams</li>
					<li>Create interest and awareness of information assurance and security topics among
						participating institutions and students</li>
				</ul>
				<p>NICCDC competitions ask student teams to assume administrative and protective duties for an
					existing “commercial” network – typically a small fictional company with 50+ users, 7 to 10
					computer systems, and common Internet services such as a web server, mail server, and
					e-commerce site. Each team begins the competition with an identical set of hardware and
					software and is scored on their ability to detect and respond to outside threats, maintain
					availability of existing services that enable the primary business activity of the
					organization such as mail servers and web servers, respond to business requests such as the
					addition or removal of additional services, and balance security needs against business
					needs. Throughout the competition an automated scoring engine is used to verify the
					functionality and availability of each team’s services on a periodic basis and traffic
					generators continuously feed simulated user traffic into the competition network. A
					volunteer red team provides the “external threat” and allows the teams to match their
					defensive skills against live opponents.</p>
			</header>
		</article>

	</div>
</section>