<!-- Derived from standings.html -->

<!-- Main -->
<section id="main">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<a href="#" class="image featured"><img src="~/images/NICCDC_Standings.jpg" alt="" /></a>
			<header>
				<h2>NICCDC Standings</h2>
				<p>Current NICCDC season standings will be posted as they become available.</p>
			</header>
		</article>

	</div>
</section>