<!-- Derived from past-winners.html -->

<!-- Main -->
<section id="main">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<a href="#" class="image featured"><img src="~/images/award2.jpg" alt="" width="" height="" /></a>
			<header>
				<h2>NICCDC Past Winners</h2>
				<br>
				<h3>2021</h3>
				<p><strong><img src="~/images/1st.png"  />Brigham Young University <img src="~/images/2nd.png"  />University of Central Florida <img src="~/images/3rd.png" />Utah Valley University</strong><br />Most Potions Produced: Brigham Young University Idaho, Most Flags Captured: College of Idaho, Red Team Best Effort: Brigham Young University, Other Finalists: Utah State University, Ensign College, Weber State University</p>
				<!-- We should aslo put the special awards that we gave out this year -->
				<h3>2020</h3>
				<p><strong><img src="~/images/1st.png"  />University of Central Florida <img src="~/images/2nd.png" />Utah State University <img src="~/images/3rd.png"  />Brigham Young University</strong><br />Other Finalists: Brigham Young University Idaho, Utah State University, Ensign College, College of Idaho, Weber State University</p>
				<h3>2019</h3>
				<p><strong><img src="~/images/1st.png"  />University of Central Florida <img src="~/images/2nd.png"  />Weber State University <img src="~/images/3rd.png"  />Southern Utah University </strong><br />Other Finalists: Weber State University, LDS Business College, and Brigham Young University</p>
				<!-- Every year from 2019 on needs to be double checked-->
				<h3>2018</h3>
				<p><strong><img src="~/images/1st.png"  />Utah Valley University <img src="~/images/2nd.png"  />Brigham Young University<img src="~/images/3rd.png"  />LDS Business College</strong><br />Other Finalists: Coming Soon</p>
				<h3>2017</h3>
				<p><strong><img src="~/images/1st.png"  />Coming Soon <img src="~/images/2nd.png"  />Coming Soon <img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<h3>2016</h3>
				<p><strong><img src="~/images/1st.png"  />Brigham Young University <img src="~/images/2nd.png"  />Brigham Young University Idaho <img src="~/images/3rd.png"  />Southern Utah University</strong><br />Other Finalists: Weber State University, University of Idaho, and LDS Business College</p>
				<h3>2015</h3>
				<h4>NICCDC</h4>
				<!--This year we had two competitions; the PRCCDC and the NICCDC. We need to find the NICCDC data and what other participants were in the PRCCDC-->
				<p><strong><img src="~/images/1st.png"  />Brigham Young University <img src="~/images/2nd.png"  />Coming Soon <img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<h4>PRCCDC</h4>
				<!--This year we had two competitions; the PRCCDC and the NICCDC. We need to find the NICCDC data and what other participants were in the PRCCDC-->
				<p><strong><img src="~/images/1st.png"  />ITT Technical Institute Boise <img src="~/images/2nd.png"  />University of Washington Tacoma<img src="~/images/3rd.png"  />Evergreen State College</strong><br />Other Finalists: Coming Soon</p>
				<h3>2014</h3>
				<p><strong><img src="~/images/1st.png"  />Coming Soon <img src="~/images/2nd.png"  />Coming Soon<img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<h3>2013</h3>
				<p><strong><img src="~/images/1st.png"  />Brigham Young University <img src="~/images/2nd.png"  />Coming Soon<img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<h3>2012</h3>
				<p><strong><img src="~/images/1st.png"  />Coming Soon <img src="~/images/2nd.png"  />Coming Soon<img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<h3>2011</h3>
				<p><strong><img src="~/images/1st.png"  />Coming Soon <img src="~/images/2nd.png"  />Coming Soon<img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<h3>2010</h3>
				<p><strong><img src="~/images/1st.png"  />Coming Soon <img src="~/images/2nd.png"  />Coming Soon<img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<h3>2009</h3>
				<p><strong><img src="~/images/1st.png"  />Coming Soon <img src="~/images/2nd.png"  />Coming Soon<img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<h3>2008</h3>
				<p><strong><img src="~/images/1st.png"  />Coming Soon <img src="~/images/2nd.png"  />Coming Soon<img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<h3>2007</h3>
				<p><strong><img src="~/images/1st.png"  />Coming Soon <img src="~/images/2nd.png"  />Coming Soon<img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<h3>2006</h3>
				<p><strong><img src="~/images/1st.png"  />Coming Soon <img src="~/images/2nd.png"  />Coming Soon<img src="~/images/3rd.png"  />Coming Soon</strong><br />Other Finalists: Coming Soon</p>
				<p> </p> 
			</header>
		</article>

	</div>
</section>