@* Derived from pastsponsors.html *@

<!-- Main -->
<section id="main">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<a href="#" class="image featured"><img src="~/images/Past_Sponsors.jpg" alt="" /></a>
			<header>
				<h2>Past Sponsors</h2>
				<p>On behalf of everyone at NIATEC, we express our sincere gratitude for the generous support
					from our sponsors. Without their support, the NICCDC would simply not be possible. We thank
					them for their commitment to the NICCDC mission of helping prepare the next generation of
					information assurance and cybersecurity professionals. Together, we are making a positive
					and lasting difference.</p>
			</header>
		</article>

	</div>
</section>