<a aasp-controller="Application" asp-action="PersonalDetails" class="d-flex align-items-start link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold">Navigation</span>
</a>
<ul class="list-unstyled ps-0">
    <li class="mb-1">
    <a asp-controller="Application" asp-action="PersonalDetails" class="btn btn-toggle align-items-center rounded">Personal</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Application" asp-action="GeneralDetails" class="btn btn-toggle align-items-center rounded">General</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Application" asp-action="EducationDetails" class="btn btn-toggle align-itmes-center rounded">Education</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Application" asp-action="ProfessionalDetails" class="btn btn-toggle align-items-center rounded">Professional</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Application" asp-action="CertificationDetails" class="btn btn-toggle align-items-center rounded">Certifications</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Application" asp-action="SkillsDetails" class="btn btn-toggle align-items-center rounded">Skills</a>
    </li>
    <li class="mb-1">
    <a asp-controller="Application" asp-action="AwardsDetails" class="btn btn-toggle align-items-center rounded">Awards</a>
    </li>
</ul>