@model ProjectJanus.Models.Skills

@*This contains all of the skills forms*@
<form asp-action="SkillsDetails" class="d-flex justify-content-around flex-wrap">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="col-12 col-lg-8 form-group d-flex flex-wrap">

        <div class="form-padding col-12 col-md-12">
            <div class="form-padding knowledge_fields_wrap d-flex flex-wrap">
                @*Will be filled by add_field_button below*@
            </div>
            <div class="fields_button">
                <button class="add_field_button betterbtn betterbtndefault" value=".knowledge_fields_wrap" data-type="Knowledge">Add More Fields</button>
            </div>
        </div>
    
        <div class="col-12 form-padding d-flex">
            <div class="col-1 ms-auto d-flex justify-content-end">
                <button type="submit" value="SkillsDetails" class="betterbtn form_submit">Submit</button>
            </div>
        </div>

    </div>
</form>

<div class="nav-button-padding col-12 d-flex justify-content-between">
    <div class="back-button">
        <a asp-controller="Application" asp-action="CertificationDetails" class="betterbtn">&lt;&lt;&lt; Certifications</a>
    </div>

    <div class="next-button">
        <a asp-controller="Application" asp-action="AwardsDetails" class="betterbtn">Awards &gt;&gt;&gt;</a>
    </div>
</div>  

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/DynamicTextAreaFields.js"></script>
<script src="~/js/InputTextArea.js"></script>