<!-- Main -->
<section id="main">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<a href="#" class="image featured"><img src="~/images/niatec_speaker.jpg" alt="" /></a>
			<header>
				<h2>Request a NIATEC Professional to Speak at Your Organization</h2>
				<p>In Person or Online</p>
			</header>
			<p>
				Today's world is incredibly complex. The National Information Assurance Training and Education
				Center has the daunting task of preparing the next generation of cybersecurity professionals to
				enter the fray. The NIATEC speaker program introduces you to our people and our mission. NIATEC
				professionals are trained and experienced in cybersecurity and information assurance
				topics. We have been invited to guest lecture at the University of Iceland, Brigham Young
				University, the College of Idaho, and others. We can provide training and tabletop exercises to
				help your students and employees to expose them to cybersecurity topics.
			</p>
			<p>
				Our team members are immensely proud of their role in the mission of NIATEC and their efforts to
				strengthen the national defense structure. Our goal is to identify opportunities for NIATEC
				professionals to help audiences understand the intricacies of today's information and cyber environments.
				Our speakers let you hear directly from our team about topics that are relevant to everyone in
				today's fast changing cyber-landscape.</p>
			<p>
			<footer>
				<center><a
						href="https://docs.google.com/forms/d/e/1FAIpQLScgkKGQendDSt4hARYPxVM-4-UlJ3snUnmHjbHHmKWg5TbjUA/viewform?usp=sf_link"
						class="button alt">Request a Speaker by Clicking Here Now!</a></center>
			</footer>
			</p>
		</article>

	</div>
</section>