/*  This file contains the extra styling that the web pages utilize  */

/* General stylings */
.form-group {
    margin-bottom: 1rem;
}

/* Stylings used for Creator Page */
.extraMargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.collapsible {
    background-color: #d1d1d1;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-size: 25px;
}

.active, .collapsible:hover {
    background-color: #b0b0b0
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.back-button{
    position: absolute;
    left: 5%;
    bottom: 5%;
}

.next-button{
    position: absolute;
    right: 5%;
    bottom: 5%;
}

/* The following are buttons that are used throughout the project, width is set to 50% for use with 2 buttons in a div */
/* Effective useage examples: LogIn and SignUp views */
.betterbtn {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #008CBA;
    padding: 5px 5px;
    font-size: inherit;
    cursor: pointer;
    display: inline;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.betterbtn:hover {
    color: #0A34C7
}

.inversebetterbtn {
    border: none;
    border-radius: 5px;
    color: #008CBA;
    padding: 5px 5px;
    font-size: inherit;
    cursor: pointer;
    display: inline;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.inversebetterbtn:hover {
    color: white;
    background-color: #79BFFF;
}

.side-nav-button {
    color: #008CBA;
    text-decoration: none;
}



/* Allows for the password checkbox to be inline with the buttons */
.password-show-check{
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    right: 4px;
    left: 1px;
}


/* Extra form styling */
.form-padding{
    padding: 5px;
}

.form-text-area{
    height: 20px;
    overflow:hidden;
}


/* Main menu option styles*/

/* TODO: Fix these to allow the landing page to work correctly */
.completely-centered-options {
    position: absolute;
    top: calc(35%);
    left: calc(50% - 25%);
    width: 50%;
    height: 1vh;
    padding: 10px;
    border-radius: 5px;
}

.main-options-background{
    background-color: #DEDEDE;
    border-radius: 5px;
    padding: 10px;

}

.main-option-buttons {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #008CBA;
    padding: 5px 5px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.main-option-buttons:hover {
    color: #0A34C7;
}


/* Sidebar Left CSS (Adapts the https://getbootstrap.com/docs/5.1/examples/sidebars/ example to work with project */

.btn-toggle-nav a {
    display: inline-flex;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    text-decoration:none; 
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 600;

}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #79BFFF;
    color: white;
}