@* Derived from news.html *@

<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Portfolio -->
				<section>
					<header class="major">
						<h2>Current News</h2>
					</header>
					<div class="row">
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="https://www.isu.edu/news/2019-spring/idaho-state-universitys-corey-schou-inducted-into-2019-cyber-security-hall-of-fame.html" class="image featured"><img
										src="https://www.isu.edu/media/publications/headlines/april-2019/schou-copy.jpg"
										alt="" /></a>
								<header>
									<h3>NIATEC Director Inducted Into Cybersecurity Hall of Fame</h3>
								</header>
								<p> The formal induction will be held
									at an event on April 25, at the annual Hall of Fame Dinner at the Hotel at
									Arundel Preserve in Hanover, Maryland.</p>
								<footer>
									<ul class="actions">
										<li><a href="https://www.isu.edu/news/2019-spring/idaho-state-universitys-corey-schou-inducted-into-2019-cyber-security-hall-of-fame.html" class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="https://www.fiber.net/blog/uvu-wins-cyber-security-competition-next-big-thing/"
									class="image featured"><img
										src="https://www.uvu.edu/cybersecurity/images/cybersecurity_club.jpg"
										alt="" /></a>
								<header>
									<h3>UVU Wins Cyber Security Competition, Are They the Next Big Thing?</h3>
								</header>
								<p>Earlier this month their Cybersecurity
									Club took first place in the NIATEC Invitational Collegiate Cyber Defense
									Competition.</p>
								<footer>
									<ul class="actions">
										<li><a href="https://www.fiber.net/blog/uvu-wins-cyber-security-competition-next-big-thing/"
												class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="http://isubengal.com/students-get-cyber-savvy/"
									class="image featured"><img src="~/images/NSA-logo.png" alt="" /></a>
								<header>
									<h3>NSA Sponsors NICCDC</h3>
								</header>
								<p>Sponsored by the National Security Agency (NSA), six teams from the
									surrounding area, ranging from high school to collegiate graduate students,
									took part in the NICCDC. The NSA contributed $7,000 to distribute in the
									form
									of scholarships for those placing in the top three of the competition.</p>
								<footer>
									<ul class="actions">
										<li><a href="http://isubengal.com/students-get-cyber-savvy/"
												class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="https://www.cs.ucf.edu/ucf-wins-niatec-invitational-collegiate-cyber-defense-competition/"
									class="image featured"><img
										src="https://www.cs.ucf.edu/wp-content/uploads/2021/04/NIATEC_team.png"
										alt="" /></a>
								<header>
									<h3>UCF Wins 2021 NICCDC</h3>
								</header>
								<p>Congratulations to the UCF Collegiate Cybersecurity Competition Team and
									coach Tom Nedorost for winning the 8th Annual NIATEC Invitational Collegiate
									Cyber Defense Competition on Saturday, April 17th</p>
								<footer>
									<ul class="actions">
										<li><a href="https://www.cs.ucf.edu/ucf-wins-niatec-invitational-collegiate-cyber-defense-competition/"
												class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="https://www.isu.edu/news/2017-fall/isu-college-of-business-mba-niatec-graduates-become-chief-information-security-officers-in-major-government-programs.html"
									class="image featured"><img src="~/images/Steven-Hernandez.jpg"
										alt="" /></a>
								<header>
									<h3>Alumni Spotlight</h3>
								</header>
								<p>NIATEC graduates become Chief Information Security Officers in major
									government agencies. Steven
									Hernandez was named the new chief information security officer (CISO) for
									the U.S. Department of Education.</p>
								<footer>
									<ul class="actions">
										<li><a href="https://www.isu.edu/news/2017-fall/isu-college-of-business-mba-niatec-graduates-become-chief-information-security-officers-in-major-government-programs.html"
												class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img
										src="https://lds-business-college.brightspotcdn.com/dims4/default/40f6a4e/2147483647/strip/true/crop/5312x2612+0+0/resize/1920x944!/quality/90/?url=http%3A%2F%2Flds-business-college-brightspot.s3.amazonaws.com%2F5f%2Fda%2F58b4adaabaa5e64467599c8991ca%2Fthe-whole-crew-at-niatec.jpg"
										alt="" /></a>
								<header>
									<h3>Ensign College Takes 2nd Place 2018</h3>
								</header>
								<p>“The United States it is under attack, and we don’t have enough people
									learning the skills needed to protect us,” said Spencer DeGraw, LDSBC
									Information Technology Program Chair. “This is why [the NICCDC] and other IT
									competitions are organized and promoted around the country.”</p>
								<footer>
									<ul class="actions">
										<li><a href="https://www.ensign.edu/campus-news/cybersecurity-team-takes-2nd-place-at-regional-niatec-cyber-competition"
												class="button alt">Find out more</a></li>
									</ul>
								</footer>
							</section>
						</div>
					</div>
				</section>

			</div>
			<div class="col-12">

				<!-- Blog -->
				<section>
					<header class="major">
						<h2>News From NIATEC</h2>
					</header>
					<div class="row">
						<div class="col-6 col-12-small">
							<section class="box">
								<a asp-controller="Connect" asp-action="Q1_2021_PressRelease"
									class="image featured"><img src="~/images/award2.jpg" alt="" /></a>
								<header>
									<h3>NIATEC 2022 Q1 Press Release: NICCDC Results <br /> & Scholarship Awards
									</h3>
									<p>Posted 01-03-2022</p>
								</header>
								<p>Final scoring for the 2021 Fall NIATEC Invitational Collegiate Cyber Defense
									Competition (NICCDC) has concluded after thorough review. A special
									congratulations to Brigham Young University’s Collegiate Cybersecurity
									Competition Team for a 1st place finish to win the 15th Annual NICCDC. The
									Idaho Department of Environmental Quality (DEQ) has awarded two NIATEC staff
									scholarships to enroll in Lean Six Sigma Green Belt Certificate.</p>
								<footer>
									<ul class="actions">
										<li><a asp-controller="Connect" asp-action="Q1_2021_PressRelease"
												class="button icon solid fa-file-alt">Continue
												Reading</a></li>
									</ul>
								</footer>
							</section>
						</div>
						<div class="col-6 col-12-small">
							<section class="box">
								<a asp-controller="Connect" asp-action="MikePond"
									class="image featured"><img src="~/images/virtualreality.jpg" alt="" /></a>
								<header>
									<h3>Cybersecurity Awareness Month: Cybersecurity First</h3>
									<p>Posted 09-24-2021 By Mike Pond</p>
								</header>
								<p>Still in recent memory is a year plagued with natural disasters, infectious
									diseases, and cyberattacks. This past May, an American oil pipeline was
									shutdown to contain a ransomware attack. For the uninitiated, ransomware is
									an increasingly common cyberattack that locks out the owner of a computer
									system typically until a ransom is paid to the attacker. However, this isn’t
									the first time that a cyberattack has had a real-world... </p>
								<footer>
									<ul class="actions">
										<li><a asp-controller="Connect" asp-action="MikePond"
												class="button icon solid fa-file-alt">Continue
												Reading</a></li>
									</ul>
								</footer>
							</section>
						</div>
					</div>
				</section>

			</div>
		</div>
	</div>
</section>