@{
    ViewData["Title"] = "Resume Creator";
}

<link rel="stylesheet" href='~/css/WebStyles.css' />
<span name="error"></span>

@*The actual creator has been broken into multiple partial views for simplicity*@
<main>
    <h1 class="text-center">Quick Resume Creator</h1>

    <div class="completely-centered-options">
        <div class="main-options-background">
            <h2 class="text-center">Please select an option to get started:</h2>
            <div class="col-12 d-flex justify-content-around flex-wrap">
                <div class="col-12 col-md-6 form-padding">
                    <a asp-controller="Creator" asp-action="PersonalDetails" class="main-option-buttons main-option-nav-link">Get Started</a>
                </div>
            </div>
        </div> 
    </div>
</main>