@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href='~/css/WebStyles.css' />
<span name="error"></span>

@*The actual creator has been broken into multiple partial views for simplicity*@
<main>
    <div class="completely-centered-options">
        <div class="main-options-background">
            <div class="col-12 d-flex justify-content-around flex-wrap">
                <h1 class="text-center">Something went wrong!</h1>
                <h5 class="text-center">Please refresh the page or reach out to one of our representatives.</h5>
            </div>
        </div> 
    </div>
</main>