@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<a href="https://www.isu.edu/foundation/privacy-and-security-statement/">ISU Privacy Statement</a>
<p>By using this tool, you agree to have your data stored and processed for data analytics, however the analytics will not include personally identifiable info.</p>
